body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size:50px;
}

.oran{
    color:orange;
}
.flexiable{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 2%;
}
.half-width img{
    width:100%;
}
.link-button a {
    text-decoration: none;
    background-color: orange;
    padding:10px 45px;
    color:white;
    font-weight: 700px;
    background-image: linear-gradient(red,blue);
    border-radius: 10px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experence-item{
    width:40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
#new-dev{
    border-left:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
}
#old-dev{
    border-left:7px solid;
    border-image:linear-gradient(pink,tomato);
    border-image-slice: 1;
}
footer p{
    text-align:center;
}